

.contact-section{
    margin: 50px auto;
}
.contact-title{
    width: 50%;
    text-align: center;
    margin: 40px auto;
}
.contact-title h2{
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.contact-title p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    color:var(--accent-color)
}


.contact-methods{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 4rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    padding: 2rem;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}
form input, form textarea{
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    outline-color: var(--accent-color);
}
form textarea{
    resize: vertical;
    min-height: 150px;
}
form input::placeholder, form textarea::placeholder{
    color: var(--accent-color);
}
form>p,.hours-map-img h3{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}
label{
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.other-methods{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}
.contact-info,.hours-map-img{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.contact-info .row{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contact-info .row i{
    font-size: 1.2rem;
    color: var(--secondary-color);
}
.contact-info .row div{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 1rem;
}
.contact-info .row h4{
    font-weight: 600;
    text-transform: capitalize;
}
.contact-info .row p{
    font-weight: 500;
    color: var(--accent-color);
}
hr{
  border-top:0.1px solid var(--accent-color);
  margin:1rem 0;
}

.hours-map-img .hours{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.hours-map-img .hour-row{
    display: flex;
    justify-content: space-between;
}
.hours-map-img .hours .hour-row p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-color);
    text-transform: capitalize;
}
.hours-map-img .img-map img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 992px){
    .contact-methods{
        flex-direction: column;
    }
    form, .other-methods{
        width: 100%;
    }
    .hours-map-img .img-map img{
        height: 300px;
    }
}

@media screen and (max-width: 576px){
    .contact-title{
        width: 90%;
    }
    .other-methods{
        padding: 1rem;
    }
}