
/* start header content  */
.header-content {
  background-image: url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.header-content .txt-content {
  text-align: center;
  color: #fff;
}
.txt-content h1 {
  margin-bottom: 15px;
  font-size: 36px;
  text-transform: capitalize;
}
.txt-content p {
  font-size: 13px;
  margin-bottom: 18px;
}
.txt-content a,
.story-width a {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 700;
  text-transform: capitalize;
}
/* end header content  */

/* start header catag  */
.header-catag h4,
.header-story h4 {
  font-size: 19px;
  font-weight: 700;
  text-transform: capitalize;
}
.header-catag .catag-ele {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-catag .catag-ele .ele-width {
  width: 32%;
  margin-right: 10px;
}
.header-catag .catag-ele .ele-width h5 {
  text-transform: capitalize;
}
.header-catag .catag-ele .ele-width p {
  color: rgba(0, 0, 0, 0.4);
}
.header-catag .catag-ele img {
  width: 100%;
  border-radius: 10px;
}
/* end header catag  */

/* start story style  */
.header-story {
  margin-top: 40px;
  margin-bottom: 20px;
}
.header-story .story-ele {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-story .story-ele .story-width {
  width: 50%;
}
.story-width img {
  width: 100%;
  border-radius: 10px;
}
.story-width p {
  margin-bottom: 50px;
}
.story-width a {
  letter-spacing: 2px;
  transition: all ease 0.5s;
}
.story-width a:hover {
  color: #000;
  background-color: #fff;
  letter-spacing: 0px;
  border: solid;
}

/* end story style  */


@media screen and (max-width: 549px) {
 
  .header-catag {
    text-align: center;
  }
  .header-catag .catag-ele {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .header-catag .catag-ele .ele-width {
    width: 90%;
  }
  .header-catag .catag-ele .ele-width img {
    width: 100%;
  }
  .header-catag .catag-ele .ele-width img {
    margin-top: 40px;
  }
  .header-story .story-ele {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .header-story .story-ele .story-width {
    width: 90%;
    margin-top: 20px;
  }
}

i {
  cursor: pointer;
}
