/* start navbar  */
.content {
  background-color: hsl(30deg 12.5% 96.86%);
  max-width: 85%;
  margin: auto;
}
.nav-home {
  margin: 25px 0 30px 0;
}
.content .nav-home nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  text-transform: capitalize;
}
nav .nav-links a {
  font-weight: 600;
  margin-right: 20px;
  position: relative;
}
nav .nav-links a:hover {
  color: #d46211d8;
}
nav .nav-links a::after {
  content: "";
  width: 0px;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all ease 1s;
}
nav .nav-links a:hover::after {
  width: 55px;
}
/* end navbar  */

/* start header content  */
.header-content {
  background-image: url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.header-content .txt-content {
  text-align: center;
  color: #fff;
}
.txt-content h1 {
  margin-bottom: 15px;
  font-size: 36px;
  text-transform: capitalize;
}
.txt-content p {
  font-size: 13px;
  margin-bottom: 18px;
}
.txt-content a,
.story-width a {
  background-color: hsl(24.92deg 85.15% 44.9%);
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 700;
  text-transform: capitalize;
}
/* end header content  */

/* start header catag  */
.header-catag h4,
.header-story h4 {
  font-size: 19px;
  font-weight: 700;
  text-transform: capitalize;
}
.header-catag .catag-ele {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-catag .catag-ele .ele-width {
  width: 32%;
  margin-right: 10px;
}
.header-catag .catag-ele .ele-width h5 {
  text-transform: capitalize;
}
.header-catag .catag-ele .ele-width p {
  color: rgba(0, 0, 0, 0.4);
}
.header-catag .catag-ele img {
  width: 100%;
  border-radius: 10px;
}
/* end header catag  */

/* start story style  */
.header-story {
  margin-top: 40px;
  margin-bottom: 20px;
}
.header-story .story-ele {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-story .story-ele .story-width {
  width: 50%;
}
.story-width img {
  width: 100%;
  border-radius: 10px;
}
.story-width p {
  margin-bottom: 50px;
}
.story-width a {
  letter-spacing: 2px;
  transition: all ease 0.5s;
}
.story-width a:hover {
  color: #000;
  background-color: #fff;
  letter-spacing: 0px;
  border: solid;
}

/* end story style  */
@media screen and (max-width: 292px) {
  .nav-home nav .nav-links {
    margin-top: 17px;
    margin-left: -50%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .header-content .txt-content h1 {
    font-weight: 800;
    font-size: 30px;
  }
  .content .nav-home nav {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .nav-home nav .nav-links {
    margin-top: 17px;
  }
  /* screen content */
  .header-catag {
    text-align: center;
  }
  .header-catag .catag-ele {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header-catag .catag-ele .ele-width {
    width: 100%;
    margin-bottom: 5px;
    margin-right: 0px;
  }
  .ele-width img {
    width: 100%;
  }

  .header-story {
    text-align: center;
  }

  .header-story .story-ele {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-story .story-ele .story-width a {
    display: block;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .header-story .story-ele .story-width {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 375px) and (max-width: 549px) {
  .content .nav-home nav {
    display: flex;
    flex-direction: column;
  }
  .nav-home nav .nav-links {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
  }
  .header-catag {
    text-align: center;
  }
  .header-catag .catag-ele {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .header-catag .catag-ele .ele-width {
    width: 40%;
  }
  .header-catag .catag-ele .ele-width img {
    width: 100%;
  }
  .header-catag .catag-ele .ele-width img {
    margin-top: 40px;
  }
  .header-story .story-ele .story-width a {
    display: block;
    width: 80%;
    text-align: center;
  }
}

i {
  cursor: pointer;
}
